body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding-top: 1.5vw;
}

.navigation {
    background-color: rgba(217, 212, 210, 0.2);
    font-weight: 500;
    padding: 2vh;
    border-radius: 30px;
}

.navigation a {
    text-decoration: none;
    border-radius: 20px;
    color: rgb(219, 151, 165);
    margin: 0 1vw;
    padding: 1vh 1vw;
}

.navigation a:hover,
.navigation a.active {
    background-color: rgb(219, 151, 165);
    border-radius: 20px;

    color: white;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

#text {
    position: absolute;
    font-size: 5em;
    color:rgb(90, 90, 90);
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.2);
    font-family: "Sacramento", cursive;
}

#mountain1,
#mountain2,
#cloud2 {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#mountain3,
#mountain4,
#mountain5,
#bird,
#cloud1{
    position:absolute;
    top: 0;
    right: 0%;
    width: 100%;
}

#pfp {
    position: absolute;
    width: 100%;
    margin-top: -5vh;
}

.projects {
    position: relative;
    padding: 2.5vw;
    background-image: linear-gradient(#AB6475, #e298a9,#fee9ed);
    height: 215vh;
}


.projects h2 {
    font-size: 5em;
}

.projects > * {
    margin: auto;
    padding: 2vh;
    height: 50vh;
    display: flex;
    width: 70%;
}

.description {
    height: 41vh;
    width: 40vw;
    padding: 2.5vw;
    background-color: #D7E5F0;
    color: white;
}

.description h2 {
    font-family: "Sacramento", cursive;
    margin-top: 3vh;
}

.projects > *:hover {
    scale: 105%;
    cursor: pointer;
}

.browser {
    height: 4vh;
    margin-bottom: 1vh;
    background-color: white;
    border-radius: 100px;
    display:flex;
    justify-content: space-evenly;
    padding: 0.5vh;
}

.browser > * {
    margin: auto;
}

#website {
    height: 2vh;
    padding: 0.5vh;
    width: 75%;
    border: 1px solid black;
    border-radius: 15px;
}

#luxebnb > .description {
    background-color: #D694A3;
}

#journease > .description {
    background-color: #F4DAE0;
    color: grey;
}

#smilemap > .description {
    background-color: #DBBCD3;
}

#wildwatch > .description {
    background-color: #B27B94;
}

#journease {
    text-align: right;
}

#about {
    position: relative;
    display: flex;
    background-image: linear-gradient(#fee9ed,white);
    height: 90vh;
    padding-top: 5vh;
    padding-right: 2vw;
    padding-top: 5vh;
    align-items: center;
}

#contact {
    position:relative;
    height: 50vh;
}


.projects h3 {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

a {
    text-decoration: none;
}
#image-container {
    border-radius: 1000px;
    padding: 1vw;
}

#photo {
    object-fit: contain;
    width: 45vw;
}

#about h2 {
    font-family: "Sacramento", cursive;
    font-size: 5rem; 
    text-align: center;
    color: rgb(229, 106, 126);
}

#about-description {
    background-color: #e298a9;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding: 2vw;
    width: 45vw;
    height: 60vh;
}

.tabs {
    display: flex;
    font-family: "Sacramento", cursive;
    font-size: 2rem;
}

.tabs > * {
    width: 10vw;
    padding: 1vw;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    cursor: pointer;
}

#skills {
    background-color: #D694A3;
}

#fun-facts {
    background-color: #B27B94;
}

#info {
    background-color: #e298a9 ;
}

#rubytext, 
#railstext, 
#javascripttext, 
#reacttext, 
#reduxtext, 
#csstext,
#htmltext, 
#postgrestext,
#mongotext,
#expresstext {
    display: none;
}
.devicon-ruby-plain:hover ~ #rubytext{
    display:block;
    position: absolute;
}

.devicon-rails-plain:hover ~ #railstext {
    display: block;
    position: absolute;
}

.devicon-javascript-plain:hover ~ #javascripttext {
    display: block;
    position: absolute;
}

.devicon-react-original:hover ~ #reacttext {
    display: block;
    position: absolute;
}

.devicon-redux-original:hover ~ #reduxtext {
    display: block;
    position: absolute;
}

.devicon-html5-plain:hover ~ #htmltext {
    display: block;
    position: absolute;
}

.devicon-css3-plain:hover ~ #csstext {
    display: block;
    position: absolute;
}

.devicon-postgresql-plain:hover ~ #postgrestext {
    display: block;
    position:absolute;
}

.devicon-express-original:hover ~ #expresstext{
    display: block;
    position:absolute;
}

.devicon-mongodb-plain:hover ~ #mongotext{
    display: block;
    position:absolute;
}

i {
    font-size: 3rem;
    border-radius: 5px;
}

#technologies {
    display: none;
}

#journease p {
    right: 4vw;
}

#contact {
    position:relative;
    display: flex;
    justify-content: space-between;
    height: 88vh;
    padding-top: 5vh;
    background-image: linear-gradient(white, rgb(235, 218, 227));
}

.connect {
    background-color: #d37b90;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 10vh;
    width: 50vw;
    font-size: 5rem;
    font-family: "Sacramento", cursive;
    padding-top: 3vh;
    padding-left: 5vw;
    color: white;
}

#connectphoto{
    max-width: 100%;
}

.icons {
    margin:5vw;
}

.icons > * {
    margin-top: 2vw;
}

a {
    text-decoration: none;
}