html {
    background-color: rgb(251, 246, 236);
}

.home {
    height: 50vh;
    background: -webkit-linear-gradient( to bottom, rgb(239, 204, 250), rgb(241, 183, 203), rgb(251, 246, 236));
    background: -moz-linear-gradient( to bottom, rgb(239, 204, 250), rgb(241, 183, 203), rgb(251, 246, 236));
    background: -ms-linear-gradient( to bottom, rgb(239, 204, 250), rgb(241, 183, 203), rgb(251, 246, 236));
    background: -o-linear-gradient( to bottom, rgb(239, 204, 250), rgb(241, 183, 203), rgb(251, 246, 236));
    background: linear-gradient( to bottom, rgb(239, 204, 250), rgb(241, 183, 203), rgb(251, 246, 236));
    text-align: center;
}

#title {
    padding-top: 10vh;
    color: rgb(191, 77, 149);
    font-family: "Oswald", sans-serif;
    font-size: 12vh; 
    font-weight: 600;
}

#title-caption {
    font-family: "Oswald", sans-serif;
}